.profile_name {
    width: 120px;
    margin-bottom: 20px;
}

.profile_site {
    margin-top: 5%;
}

.user_followers_posts {
    margin-top: 20px;
}
#create {
    padding: 5px;
    border: 1px solid rgba(17, 34, 68, 0.5);
    border-radius: 8px;
  }
